#title {
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 100px;
  letter-spacing: 2px;
}

.textBlack {
  color: black;
}

.textWhite {
  color: white;
}

html {
  height: 0;
}

#playerTurn {
  height: 20px;
  font-size: 30px;
  text-align: center;
  width: 100%;
  margin-bottom: 37px;
}

.scoreboard {
  width: 400px;
  height: 150px;
  border: black 2px solid;
  margin: 0 auto;
  font-size: 30px;
  color: black;
}

#gameboard {
  width: 400px;
}

body {
  height: 100%;
  width: 100%;
}

#container {
  text-align: center;
  height: 800px;
  margin-top: -20px;
  background: -webkit-radial-gradient(white 1%, #007A00 80%); /* Safari 5.1-6.0 */
  background: -o-radial-gradient(white 1%, #007A00 80%); /* For Opera 11.6-12.0 */
  background: -moz-radial-gradient(white 1%, #007A00 80%); /* For Firefox 3.6-15 */
  background: radial-gradient(white 1%, #007A00 80%); /* Standard syntax */
}

.box {
 border: black 2px solid;
 width: 50px;
 height: 50px;
 display: inline-block;
 vertical-align: top;
 margin-top: -2px;
 margin-right: -6px;
}

.black {
 background-image: url("http://alloutput.com/wp-content/uploads/2013/11/black-circle-mask-to-fill-compass-outline.png");
 background-size: 100%;

}

.white {
 background-image: url("http://www.iconsdb.com/icons/preview/black/circle-outline-xxl.png");
 background-size: 100%;
}

/*body {
  text-align: center;
}*/
