<h1>StaticPages#about</h1>
<p>Oat cake apple pie biscuit cupcake chocolate cake sesame snaps pudding biscuit. Macaroon gummies tiramisu bonbon soufflé dragée icing marshmallow. Tiramisu liquorice bonbon gummies jelly beans. Croissant gummi bears halvah halvah cupcake muffin macaroon. Oat cake ice cream liquorice wafer. Fruitcake jujubes candy candy canes soufflé carrot cake cake liquorice marshmallow. Halvah brownie jelly pastry pie muffin. Candy canes fruitcake cupcake jelly beans caramels dragée gummi bears tootsie roll. Pastry topping bear claw sugar plum. Apple pie chocolate cake apple pie. Jelly marshmallow muffin candy canes brownie croissant gingerbread chocolate cake cake. Chocolate toffee apple pie cupcake chupa chups donut.</p>

<div class="row">
  <div class="col-md-4">
    <h3><span class="glyphicon glyphicon-glass"></span>A Wonderful Community</h3>
    Tiramisu liquorice bonbon gummies jelly beans. Croissant gummi bears halvah halvah cupcake muffin macaroon.
  </div>
  <div class="col-md-4">
    <h3><span class="glyphicon glyphicon-thumbs-down"></span>Amazing Instructors</h3>
    Pastry topping bear claw sugar plum. Apple pie chocolate cake apple pie.
  </div>
  <div class="col-md-4">
    <h3><span class="glyphicon glyphicon-cloud"></span>Security First</h3>
    Oat cake ice cream liquorice wafer. Fruitcake jujubes candy cittandy canes soufflé carrot cake cake liquorice marshmallow.
  </div>
</div>
