.my-box {
border: black 2px solid;
  width: 100px;
  height: 100px;
  display: inline-block;
  vertical-align: top;
}

img {
  width: 100px;
}


#title {
  text-align: center;
}

div p {
  display: inline-block;
}

#elapsed {
  font-size: 20px;
}
